# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env
backend/.env
frontend/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
